@media only screen and (max-width:1000px) {
    .carousel-caption {
        padding-bottom: 0em;
    }

    .carousel-caption h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width:820px) {

    .carousel-caption h2 {
        font-size: 1.6rem;
    }

    .tagline {

        font-size: 1em;
    }

    .carousel-caption p {
        font-family: 'Tenali Ramakrishna', sans-serif;
        font-size: 0.9em !important;
    }
}

@media only screen and (max-width:1500px) {
    #home h3 {
        display: none;
    }

    .tagline-home {
        display: none;
    }
}

@media only screen and (max-width:765px) {
    #home h3 {
        display: block;
        margin-top: 3rem;
    }

    .tagline-home {
        display: inline;
    }
}

@media only screen and (max-width:765px) {
    #home p {
        margin-top: 2rem;

    }



    @media only screen and (max-width:850px) {
        #home img {
            margin-left: 1rem;
        }
    }


    @media only screen and (max-width:395px) {
        #home img {
            width: 250px;
            height: 250px;
        }
    }

    @media only screen and (max-width:990px) {
        #our-products .card {
            width: 14rem !important;


        }
    }

    @media only screen and (max-width:765px) {
        #our-products .card {
            width: 18rem !important;




        }
    }

    @media only screen and (max-width:990px) {
        #our-team .card {
            width: 14rem !important;


        }

        #our-team img {
            height: 150px;
            width: 150px;


        }
    }

    @media only screen and (max-width:300px) {
        #our-products .card {
            width: 13.5rem !important;




        }
    }